<div class="container-fluid bg-light imageback" style="min-height: 551px; height: auto; background-image: url(assets/images/foto2.jpeg);">
  
    <div class="textaling text-center">
      <h1 class="info">
        <span class="info-title">Que aimeriez vous envoyer ou transporter?</span>
      </h1>

      <p class="m-0 text-white"><span>Envoyer un colis ou poster un voyage: Recherchez un trajet qui vous convient.</span></p>

    </div>
    <div class="rechercheconten  d-flex justify-content-center">
     <section class="search-sec">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12 pr-md-0  pr-lg-0 search-depart">
                        <input type="text" class="form-control search-slt" placeholder="Depart">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 px-lg-0  px-md-0 search-arrive">
                        <input type="text" class="form-control search-slt" placeholder="Arrive">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 pl-lg-0 pl-md-0">
                      <input type="text" class="form-control search-slt" placeholder="Date">
                    </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
    </div>

 </div> 

 <!--les dernier annonce-->

 <section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Nos derniers Annonces</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
    
          <div class="cnt-block equal-hight" style="height: 340px;">
            <figure><img src="assets/images/lancelot.jpg" class="img-responsive" alt=""></figure>
          
           <p class="text-uppercase font-weight-bold">Douala<i class="fas fa-long-arrow-alt-right px-1"></i>Yaounde</p>
           <div class="d-flex flex-column">
             <p class="mt-0">Date de Depart: <span>31/12/2020</span></p>
             <div class="d-flex justify-content-center">
              <p>Total Kilo:<span> 23Kg</span></p>
              <p class="pl-2">Prix/Kg: 8<i class="fas fa-euro-sign pl-1"></i></p>
             </div>
           </div>
           <img src="assets/images/icons8-airport-100.png" alt="SVG mit img Tag laden" style="position: absolute!important;
           bottom:70px!important; left: 100px; width: 40px; height: 30px;" >
           <button type="button" class="btn btn-outline-success bouton-look">Voir l'annonce</button>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        
          <div class="cnt-block equal-hight" style="height: 340px;">
         <!--    <i class="fas fa-box position-relative" style="top: -67px; right: 62px;"></i> -->
        
            <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
            <div class="d-flex flex-column flex-nowrap">
              <p>Colis à enyover</p>
              <p class="mt-0">Avant le <span>26/08/2020</span></p>
              <p class="text-uppercase font-weight-bold">Düsseldorf<i class="fas fa-long-arrow-alt-right px-1"></i>Garoua</p>
    
              <div class="d-flex justify-content-center">
               <p>Total Kilo:<span> 50Kg</span></p>
               <p class="pl-2">Prix/Kg: 7<i class="fas fa-euro-sign pl-1"></i></p>
              </div>
          
            </div>
            <img src="assets/images/cube-outline.svg" alt="SVG mit img Tag laden" style="position: absolute!important;
            bottom:70px!important; left: 100px; width:40px!important; height:20px !important;" >
            <button type="button" class="btn btn-outline-success mt-3">Voir l'annonce</button>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 340px;">
            <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>

            <p class="text-uppercase font-weight-bold">Düsseldorf<i class="fas fa-long-arrow-alt-right px-1"></i>Garoua</p>
            <div class="d-flex flex-column flex-nowrap">
              <p class="mt-0">Date de Depart: <span>26/08/2020</span></p>
              
              <div class="d-flex justify-content-center">
               <p>Total Kilo:<span> 50Kg</span></p>
               <p class="pl-2">Prix/Kg: 7<i class="fas fa-euro-sign pl-1"></i></p>
              </div>
          
            </div>
            <img src="assets/images/icons8-airport-100.png" alt="SVG mit img Tag laden" style="position: absolute!important;
            bottom:70px!important; left: 100px; width: 40px; height: 30px;" >
            <button type="button" class="btn btn-outline-success bouton-look">Voir l'annonce</button>
   
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 340px;">
          
            <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
            <p class="text-uppercase font-weight-bold">Düsseldorf<i class="fas fa-long-arrow-alt-right px-1"></i>Garoua</p>
            <div class="d-flex flex-column">
              <p class="mt-0">Date de Depart: <span>26/08/2020</span></p>
              <div class="d-flex justify-content-center">
               <p>Total Kilo:<span> 50Kg</span></p>
               <p class="pl-2">Prix/Kg: 7<i class="fas fa-euro-sign pl-1"></i></p>
              </div>
        
            </div>
            <img src="assets/images/icons8-airport-100.png" alt="SVG mit img Tag laden" style="position: absolute!important;
            bottom:70px!important; left: 100px; width: 40px; height: 30px;" >
            <button type="button" class="btn btn-outline-success bouton-look">Voir l'annonce</button>
   
          </div>
      </li>
    </ul>
  </div>
</section>






<!-- comment ca marche -->
<section class="our-blog p-0 m-0 bg-silver">
  <div class="container work-process  pb-5 pt-5">
      <div class="title mb-5 text-center">
      <h2>comment ça marche ?</h2>
  </div>
      <!-- ============ step 1 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">01</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>What is Lorem Ipsum?</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-l"></div>
              </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-point-right"></div>
          </div>
      </div>
      <!-- ============ step 2 =========== -->
      <div class="row">
          
          <div class="col-md-5">
              <div class="process-point-left"></div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">02</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>What is Lorem Ipsum?</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-r"></div>
              </div>
          </div>

      </div>
      <!-- ============ step 3 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">03</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>What is Lorem Ipsum?</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-l"></div>
              </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-point-right"></div>
          </div>
      </div>
      <!-- ============ step 4 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-point-left"></div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">04</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>What is Lorem Ipsum?</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-r"></div>
              </div>
          </div>
          
          
      </div>
      <!-- ============ step 3 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">05</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>What is Lorem Ipsum?</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-l"></div>
              </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-point-right process-last"></div>
          </div>
      </div>
      <!-- ============ -->
  </div>
</section>

